* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: lightgray;
}

.container {
    margin-top: 20px;
    width: 1000px;
    margin: 20px auto;
    /* background-color: aqua; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 5px;
}

.box {
    width: 150px;
    height: 150px;
    color: white;
    border: 2px solid black;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.4rem;
    border-radius: 50%;
}

.fizz {
    background-color: blue;
}

.buzz {
    background-color: green;
}

.fizzbuzz {
    background-color: red;
}

.other {
    background-color: white;
    color: black;
}

h1 {
    text-align: center;
    padding: 20px;
    font-size: 100px;
}
