* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.grid {
    width: 1000px;
    margin: 0 auto;
    /* border: 2px solid black; */
    display: flex;
    flex-wrap: wrap;
}

.box {
    width: calc(100% / 10 - 4px);
    height: 100px;
    background-color: lightseagreen;
    color: white;
    border: 2px solid blueviolet;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.4rem;
}

.fizz {
    background-color: blue;
}

.buzz {
    background-color: green;
}

.fizzbuzz {
    background-color: brown;
}